.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 100px 0;
  row-gap: 50px;

  .headLine {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 10px;

    .name {
      font-size: 28px;
    }

    .region {
      font-size: 24px;
      font-weight: 500;
    }

    .weather {
      display: flex;
      align-items: center;
      font-size: 24px;
      font-weight: 500;

      img {
        width: 50px;
      }
    }

    .back {
      height: fit-content;
      border: 1px solid lightgray;
      border-radius: 2px;
      padding: 5px 10px;
      font-size: 14px;
      cursor: pointer;
    }
  }

  .cards {
    max-width: 1400px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;

    .card {
      padding: 16px;
      border: 1px solid #ddd;
      border-radius: 8px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      min-height: 150px;

      .title {
        padding-bottom: 15px;
        font-size: 28px;
      }

      .value {
        font-size: 24px;
        font-weight: 500;
        padding-left: 15px;

      }
    }
  }
}

@media (max-width: 1200px) {
  .wrapper {
    .cards {
      width: 100%;
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

@media (max-width: 992px) {
  .wrapper {
    padding: 50px 0;
    row-gap: 50px;

    .headLine {
      .name {
        font-size: 24px;
      }

      .region {
        font-size: 18px;
        font-weight: 500;
      }

      .weather {
        display: flex;
        align-items: center;
        font-size: 18px;
        font-weight: 500;

        img {
          width: 30px;
        }
      }
    }

    .cards {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      gap: 10px;

      .card {
        padding: 16px;
        border: 1px solid #ddd;
        border-radius: 8px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        min-height: 50px;

        .title {
          padding-bottom: 15px;
          font-size: 24px;
        }

        .value {
          font-size: 20px;
          font-weight: 500;
          padding-left: 15px;

        }
      }
    }
  }
}